body{
  text-align: center;
  margin: 0px;
  height: 100vh;
  background-color: #3C58BF;
  border-top: 0px;
  border-left: 40px solid #DDE0EE;
  border-right:40px solid #DDE0EE;
  border-bottom: 40px solid #DDE0EE;
  color: white;
}


h1{
margin:0px;
padding-bottom: 10%; 
}




a{
  	text-decoration: none;
  	font-size: 40px;
 	margin:auto;
 	
}

a:hover{
  color:blue;
}



footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;   
}

#back{

}