<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/category.css">
	<title th:text="${categories.name}"></title>
</head>
<body>

	<header>
		<h1>All the reviews in this Category</h1>
	</header>


	 <div id="reviews" th:each="review : ${categories.reviews}">
        <h2>
            <a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a>
        </h2>
    </div>
	

	<footer>
		<div id = "back">
		<p><a href="/show-categories">Back To Categories</a></p>
		</div>
		<small>&copy WCCI 2020</small>
	</footer>

</body>
</html>